@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.player-wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Ẩn backdrop (phần làm mờ phía sau) */
::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

/* Ẩn các nút download, picture-in-picture trong video controls */
video::-webkit-media-controls-download-button,
video::-webkit-media-controls-overflow-menu-button,
video::-webkit-media-controls-picture-in-picture-button,
video::-internal-media-controls-download-button {
  display: none !important;
}

/* Chặn user select và drag trên video */
video {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}